# ================ Datatabase Configuration ================

DATABASE_URL=postgresql://USERNAME:PASSWORD@db:5432/DB

POSTGRES_DB=DB
POSTGRES_USER=USERNAME
POSTGRES_PASSWORD=PASSWORD
POSTGRES_PORT=5432

# ================ Application Configuration ================

APP_PORT=5000

# ================ Redis Configuration ================

REDIS_PORT=6379
REDIS_URL=redis://redis:6379/2

# ================ Celery Configuration ================
CELERY_BROKER_URL=redis://redis:6379/2
CELERY_RESULT_BACKEND=redis://redis:6379/2
CELERY_TASK_SERIALIZER="json"
CELERY_TASK_TIME_LIMIT=600
CELERY_TASK_ACKS_LATE=True
CELERY_WORKER_CONCURRENCY=2

# ================ Frontend Configuration ================
FRONTEND_PORT = 5173


# ================ Secrets ======================
TOTP_ENCRYPTION_KEY = ""
JWT_SECRET_KEY = ""

# ================  SMTP  ========================
SMTP_HOST=your_smtp_host
SMTP_PORT=587
SMTP_USERNAME=your_email
SMTP_PASSWORD=your_password
SMTP_FROM=your_email

# ================ WaSenderAPI ========================
WA_SENDER_API_URL = "https://www.wasenderapi.com"
WA_API_KEY = "WA_API_KEY"