alembic==1.18.5
assertpy==1.1
attrs==26.1.0
behave==1.3.3
behave-restful==0.4.4
blinker==1.9.0
bolt-ta==0.4.1
certifi==2026.6.17
charset-normalizer==3.4.8
click==8.4.2
colorama==0.4.6
conttest==0.0.8
coverage==7.15.0
cucumber-expressions==20.0.0
cucumber-tag-expressions==10.0.0
deprecated==1.3.1
docutils==0.20.1
dotenv==0.9.9
flask==3.1.3
flask-limiter==4.1.1
flask-migrate==4.1.0
flask-sqlalchemy==3.1.1
greenlet==3.5.3
idna==3.18
iniconfig==2.3.0
itsdangerous==2.2.0
jinja2==3.1.6
jsonpath==0.82.2
jsonref==1.1.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
limits==5.8.0
mako==1.3.12
markupsafe==3.0.3
ordered-set==4.1.0
packaging==26.2
parse==1.22.1
parse-type==0.6.6
pluggy==1.6.0
psycopg2-binary==2.9.12
pygments==2.20.0
pytest==9.1.1
pytest-cov==7.1.0
python-dotenv==1.2.2
pyyaml==6.0.3
redis==8.1.0
referencing==0.37.0
requests==2.34.2
rpds-py==2026.6.3
six==1.17.0
sqlalchemy==2.0.51
typing-extensions==4.16.0
urllib3==2.7.0
werkzeug==3.1.8
wrapt==2.3.0
